@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,2),rgba(0,0,0,0.2)),url("/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.a{
    color: blueviolet;
}
.d{
    margin-right: 10px;
}

.font{
    color: aliceblue;
}

.center {
    display: flex;
    justify-content: center;
}
.radio {
    border: 2px solid white; 
}
.label {
    display: inline-flex; 
    align-items: center; 
}

.radio {
    margin-right: 10px; 
}

.label-text {
    margin-left: 10px; 
}


